
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/import
/tmp
.history
.idea
.vscode
/build
/phpunit.xml
/behat.yml
/.phpcs-cache
/.deptrac.cache
/.*.pid

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
